<!-- voter_analytics/templates/voter_analytics/base.html -->
<!-- Kelley Han, kelhan@bu.edu-->
<!--This file contains the base styling and nav links that all other html files extend from -->
{% load static %}
<html>
    <head>
        <title>Voter Analytics</title>
        <link rel="stylesheet" href="{% static 'voter_styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Voter Analytics</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'voters' %}">Home</a></li>
                    <li><a href="{% url 'graphs' %}">View Distribution Graphs</a></li>
                </ul>

            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>