<!--voter_analytics/templates/voter_analytics/search.html-->
 <!--Kelley Han, kelhan@bu.edu-->
 <!--This file includes the search form for filtering results -->
<h3>Filter Voter Results</h3>
<table>
    <form action="{{ form_action_url }}">
        <tr>
            <th>Party Affiliation:</th>
            <td><select name="party" id="party">
                <option value="">All</option>
                <option value="D ">Democrat</option>
                <option value="R ">Republican</option>
                <option value="U ">Unenrolled</option>
                <option value="J ">Justice</option>
                <option value="A ">American</option>
                <option value="CC ">Constitutional Conservative</option>
                <option value="X ">No Party Affiliation</option>
                <option value="L ">Libertarian</option>
                <option value="Q ">Unknown/Unaffiliated</option>
                <option value="S ">Socialist</option>
                <option value="FF">Freedom First</option>
                <option value="G ">Green</option>
                <option value="HH ">Heritage</option>
                <option value="T ">Taxpayers</option>
                <option value="AA ">America First</option>
                <option value="GG ">Grassroots</option>
                <option value="O ">Other/Independent</option>
                <option value="P ">Progressive</option>
                <option value="E ">Ecology</option>
                <option value="V ">Veterans</option>
                <option value="H ">Humane</option>
                <option value="Y ">Youth</option>
                <option value="W ">Working Families</option>
                <option value="K ">Constitution</option>
            </select></td>
        </tr>
        <tr>
            <th>Minimum Birth Year</th>
            <td><select name="min_birth_year" id="min_birth_year">
                <option value="">N/A</option>
                {% for year in birth_year_range %}
                    <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select>
            </td>
            
        </tr>
        <tr>
            <th>Maximum Birth Year</th>
            <td><select name="max_birth_year" id="max_birth_year">
                <option value="">N/A</option>
                {% for year in birth_year_range %}
                    <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select>
            </td>
            
        </tr>
        <tr>
            <th>Voter Score</th>
            <td><select name="voter_score" id="voter_score">
                <option value="">Any Score</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select></td>
        </tr>
        <tr>
            <th>Election</th>
            <td>
                <input type="checkbox" id="v20state" name="v20state" value="v20state">
                <label for="v20state">2020 State Election</label>
                <br><br>
                <input type="checkbox" id="v21town" name="v21town" value="v21town">
                <label for="v21town">2021 Town Election</label>
                <br><br>
                <input type="checkbox" id="v21primary" name="v21primary" value="v21primary">
                <label for="v21primary"> 2021 Primary Election</label>
                <br><br>
                <input type="checkbox" id="v22general" name="v22general" value="v22general">
                <label for="v22general">2022 General Election</label>
                <br><br>
                <input type="checkbox" id="v23town" name="v23town" value="v23town">
                <label for="v23town">2023 Town Election</label>
                <br><br>
            </td>  
        </tr>
        <tr>
            <td><input type="submit"></td>
            <td></td>
        </tr>
    </form>
</table>