<!-- hw/templates/hw/about.html-->
{% extends 'hw/base.html' %}
{% block content %}

<div>
    <h1>ABOUT PAGE</h1>

    <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, eaque sapiente nobis sint asperiores, qui maxime ex ut quibusdam voluptatibus iusto veritatis ullam beatae tenetur accusamus magni! Eius, at nostrum.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, recusandae. Molestias saepe, optio non laborum rerum tempora minus tenetur eligendi error, consectetur quod omnis suscipit necessitatibus corporis alias autem quidem.
    </p>
</div>

{% endblock %}

       