<!--project/templates/project/account.html-->
{% extends 'project/base.html' %}
{% block content %}

<div class="table-card">
    <h3>Account Details</h3>
<table class="company-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Date of Birth</th>
            
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{account.first_name}} {{account.last_name}}</td>
            <td>{{account.email}}</td>
            <td>{{account.dob}}</td>
            
        </tr>
    </tbody>

    
    
</table>

<h3>Edit Account:</h3>
<form method="POST" enctype="multipart/form-data" class="edit-account">
    {% csrf_token %}
    <table>
        {% for field in form %}
        <tr>
            <th>
                {% if field.name == 'first_name' %}First Name:
                {% elif field.name == 'last_name' %}Last Name: 
                {% elif field.name == 'email' %}Email: 
                {% elif field.name == 'dob' %}Date of Birth:
                {% else %}{{field.label}}
                {% endif %}
            </th>
            <td>{{field}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><input type="submit" name="update_account" value="Update" class="update-button"></td>
        </tr>
    </table>
</form>

</div>


{% endblock %}