<!--project/templates/project/account.html-->
{% extends 'project/base.html' %}
{% block content %}

<h3>Account Details</h3>
<table class="company-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Date of Birth</th>
            
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{account.first_name}} {{account.last_name}}</td>
            <td>{{account.email}}</td>
            <td>{{account.dob}}</td>
            
        </tr>
    </tbody>

    
    
</table>

<h3>Edit Profile:</h3>
<!--insert form here to edit the profile/user -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {% for field in form %}
        <tr>
            <th>{{field.name}}</th>
            <td>{{field}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><input type="submit" name="update_account" value="Update"></td>
        </tr>
    </table>
</form>

{% endblock %}