<!--project/templates/project/browse.html-->
{% extends 'project/base.html' %}
{% block content %}

<div class="table-card">
    <h3>Browse ETFs</h3>
<div class="etf-grid">
    {% for b in buckets %} 
    <div class="etf-card">
        <h3>{{b.bucket_name}}</h3>
        <p>{{b.description}}</p>
        <p>{{b.price_per_share}} USD</p>
        <p class="company-count">{{b.company_count}} companies</p>
        <a href="{% url 'buy_shares' b.pk %}" class="buy-button">Buy Shares</a>

    </div>
    
    {% endfor %}
</div>
</div>


{% endblock %}
