<!--project/templates/project/buy_shares.html-->
{% extends 'project/base.html' %}
{% block content %}

<div class="table-card">
    <h3>Buy Shares: {{bucket.bucket_name}} {{bucket.bucket_symbol}}</h3>

    <div class="table-card">
        <table class="company-table">
            <h3>ETF Details</h3>
            <thead>
                <tr>
                    <th>Price Per Share USD</th>
                    <th>Total Value in Billions:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{bucket.price_per_share}} (Price last updated: {{price_last_updated}})</td>
                    <td>{{bucket.total_value}} B</td>
                </tr>
            
            </tbody>
        </table>
        <table class="company-table">
            <h3>Companies in this ETF (Partial List)</h3>
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Stock Symbol</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                {% for b in bucket_companies %}
                <tr>
                    <th>{{b.company.company_name}}</th>
                    <th>{{b.company.stock_symbol}}</th>
                    <th>{{b.percentage}} %</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form method="POST" class="buy-form">
            {% csrf_token %}
            <table>
                {% for field in form %}
                <tr>
                    <th>
                        {% if field.name == 'shares_owned' %}Number of Shares:
                        {% endif %}
                    </th>
                    <td>{{field}}</td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <input type="submit" name="BUY" value="BUY" class="buy-button">
        </form>
       
        
    </div>


    
</div>


{% endblock %}