<!--project/templates/project/companies.html-->
{% extends 'project/base.html' %}
{% block content %}

    <div class="table-card">
        <h3 class="dash-head">Companies</h3>
        {% include "project/search.html" %}
        <table class="company-table">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Stock Symbol</th>
                    <th>Industry</th>
                    <th>Market Cap </th>
                    
                </tr>
            </thead>
            <tbody>
                
                {% for c in companies %}
                <tr>
                    <td><a href="{% url 'company_detail' c.pk %}">{{c.company_name}}</a></td>
                    <td>{{c.stock_symbol}}</td>
                    <td>{{c.industry}}</td>
                    <td>{{c.market_cap}}</td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                
                </li>
            {% endif %}
                <li class="">
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                </li>
            {% if page_obj.has_next %}
                <li>
                    <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                </li>
            {% endif %}
            </ul>
        {% endif %}
    </div>
</div>


{% endblock %}