<!--project/templates/project/companies.html-->
{% extends 'project/base.html' %}
{% block content %}

<div>
    <h3>Companies</h3>
    
    <table>
       <tr>
        <th>Name</th>
        <th>Stock Symbol</th>
        <th>Market Cap</th>
        <th>Industry</th>
        <th>Price ($)</th>
        <th>% Change</th>
       </tr>
       {% for c in companies %} 
       <tr>
        <th>{{c.company_name}}</th>
        <th>{{c.stock_symbol}}</th>
        <th>{{c.market_cap}}</th>
        <th>{{c.industry}}</th>
        <th>{{c.stock_price}}</th>
        <th>create formula to find price change</th>
       </tr>
       {% endfor %}
    </table>
    

    
</div>

{% endblock %}