<!--project/templates/project/company.html-->
{% extends 'project/base.html' %}
{% block content %}


<div class="table-card">
    <h3>Buy Shares</h3>
    <table class="company-table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Stock Symbol</th>
                <th>Most Recently Updated Price ($)</th>
                <th>% Change</th>
                
            </tr>
        </thead>
        <tbody>
            
            
            <tr>
                <td>{{company.company_name}}</td>
                <td>{{company.stock_symbol}}</td>
                <td>{{company.stock_price}}</td>
                <td><span class="posneg
                            {% if '↑' in formatted_change %}
                                posneg-positive
                            {% elif '↓' in formatted_change %}
                                posneg-negative
                            {% else %}
                                posneg-neutral
                            {% endif %}
                        ">
                        {{formatted_change}}
                        </span></td>

            </tr>
            
        </tbody>
    </table>
    <div>
  

        <div >
            
            <form method="POST" class="buy-form">
                {% csrf_token %}
                <table>
                    {% for field in form %}
                    <tr>
                        <th>
                            {% if field.name == 'shares_purchased' %}Number of Shares:
                            {% endif %}
                        </th>
                        <td>{{field}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <input type="submit" name="BUY" value="BUY" class="buy-button">
            </form>
           
            
        </div>
    
</div>


{% endblock %}