<!--project/templates/project/my_investments.html-->
{% extends 'project/base.html' %}
{% block content %}
<div class="table-card">
    <h3>My ETF Investments</h3>
<table class="company-table">
    <thead>
        <tr>
            <th>ETF Name</th>
            <th>Symbol</th>
            <th>Shares Purchased</th>
            <th>Purchase Date</th>
            <th>Sell Shares</th>
        </tr>
    </thead>

    <tbody>
        {% for investment in my_investments %}
        <tr>
            <td>{{investment.bucket.bucket_name}}</td>
            <td>{{investment.bucket.bucket_symbol}}</td>
            <td>{{investment.shares_owned}}</td>
            <td>{{investment.purchase_date}}</td>
            <td><a href="{% url 'sell_etf' investment.pk %}" class="buy-button">Sell Shares</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table class="company-table">
    <h3>My Company Investments </h3>
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Company Symbol</th>
            <th>Shares Purchased</th>
            <th>Purchase Date</th>
            <th>Sell Shares</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for i in company_investments %}
            <td>{{i.company.company_name}}</td>
            <td>{{i.company.stock_symbol}}</td>
            <td>{{i.shares_purchased}}</td>
            <td>{{i.purchase_date}}</td>
            <td><a href="{% url 'sell_company' i.pk %}" class="buy-button">Sell Shares</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table class="company-table">
    <h3>Balances (USD) </h3>
    <p>Last updated: {{last_updated}}</p>
    <thead>
        <tr>
            <th>Account Balance</th>
            <th>Cash Value</th>
            <th>Stock Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{customer.account_balance}}</td>
            <td>{{customer.cash_value}}</td>
            <td>{{customer.stock_value}}</td>
        </tr>
    </tbody>
</table>
</div>

{% endblock %}