<!--templates/mini_fb/base.html-->
<!--Author: Kelley Han (kelhan@bu.edu) 2/18/25-->
<!--HTML base template file for mini fb, includes the nav links-->
{% load static %}
<html>
    <head>
        <title>Mini Facebook</title>
        <link rel="stylesheet" href="{% static 'styles-mini-fb.css' %}">
    </head>
    <body>
        <header>
            <h1>&nbsp;&nbsp;&nbsp;&nbsp;Mini Facebook</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'show_all_profiles' %}">Show All Profiles</a></li>
                    <li><a href="{% url 'create_profile' %}">Create Profile</a></li>
                    {% if request.user.is_authenticated %}
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input type="submit" value="Logout" style="border:none; background:none; cursor:pointer; font-size:20px;color:black; font-family: Helvetica;display: block;padding: 10px 15px;font-weight: bold;">
                        </form>
                    </li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                    {% endif %}
                </ul>
                <br>
               
            </nav>
        </header>
        {% if request.user.is_authenticated %}
        <h2>Logged in user: {{request.user}}</h2>
        {% else %}
        <h2>Not logged in.</h2>
        {% endif %}
        {% block content %}
        {% endblock %}
    </body>

   

    
</html>