<!--templates/mini_fb/show_profile.html-->
<!--Author: Kelley Han (kelhan@bu.edu) 2/18/25-->
<!--HTML template file for individual profile viewing-->
{% extends 'mini_fb/base.html' %}
{% block content %}
<table>
    <tr>
        <td><img class="profile-pic" src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}"></td>
        <td class="info"><h4>{{profile.first_name}} {{profile.last_name}}</h4>Lives in: {{profile.city}} <br>
            Email address: {{profile.email_address}} <br> 
        </td>
    </tr>
</table>



{% endblock %}