<!--templates/mini_fb/show_profile.html-->
<!--Author: Kelley Han (kelhan@bu.edu) 2/18/25-->
<!--HTML template file for individual profile viewing-->
{% extends 'mini_fb/base.html' %}
{% block content %}
<table>
    <tr>
        <td><img class="profile-pic" src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}"></td>
        <td class="info"><h4>{{profile.first_name}} {{profile.last_name}}</h4>Lives in: {{profile.city}} <br>
            Email address: {{profile.email_address}} <br> 
        </td>
    </tr>
</table>
<div>
    <h2 style="text-align: left;">{{profile.first_name}}'s Status Messages</h2>
    {% for status in profile.get_status_messages %}
    <profile>
        <div>
            <p style="text-align: left;">{{status.message}}</p>
            <strong>{{status.time_stamp}}</strong>
        </div>
    </profile>
    {% endfor %}
</div>

{% endblock %}