<!--templates/mini_fb/show_profile.html-->
<!--Author: Kelley Han (kelhan@bu.edu) 2/18/25-->
<!--HTML template file for individual profile viewing-->
{% extends 'mini_fb/base.html' %}
{% block content %}
<table>
    <tr>
        <td><img class="profile-pic" src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}"></td>
        <td class="info"><h4>{{profile.first_name}} {{profile.last_name}}</h4>Lives in: {{profile.city}} <br><br>
            Email address: {{profile.email_address}} <br> <br>
            <a href="{% url 'create_status' profile.pk %}" style="border: 4px; padding: 4px; margin: 1px; border-radius: 8px; background-color:rgb(80, 80, 255); width: 167px; font-weight: bold; display: inline-flex;">Create Status</a> 
            <a href="{% url 'update_profile' profile.pk %}" style="border: 4px; padding: 4px; margin: 1px; border-radius: 8px; background-color:rgb(80, 80, 255); width: 174px; font-weight: bold;display: inline-flex;">Update Profile</a>
        </td>
    </tr>
</table>
<div>
    <h2 style="text-align: left;">{{profile.first_name}}'s Status Messages</h2>
    {% for status in profile.get_status_messages %}
    <profile>
        <div>
            <p style="text-align: left;">{{status.message}}</p>
            <strong>{{status.time_stamp}}</strong><br><br>
            {% for img in status.get_images %}
                <img style="margin:0px;" src='{{img.image_file.url}}' alt='{{img}}'>
                <br><br>
            {% endfor %}
            <a href="{% url 'update_status' status.pk %}" style="border: 4px; padding: 4px; margin: 1px; border-radius: 8px; background-color:rgb(80, 80, 255); width: 50px; font-weight: bold;display: inline-flex;">Update</a>
            <a href="{% url 'delete_status' status.pk %}" style="border: 4px; padding: 4px; margin: 1px; border-radius: 8px; background-color:rgb(80, 80, 255); width: 50px; font-weight: bold;display: inline-flex;">Delete</a>
        </div>
    </profile>
    {% endfor %}
</div>
<div>
    <h2 style="text-align: left;">{{profile.first_name}}'s Friends</h2>
    <table class="friends">
        {% for p in profile.get_friends %}
                {% if forloop.first or forloop.counter0|divisibleby:3 %}
                <tr>
                    {% endif %}
                    <td>
                        {% if p.profile_image_url %}
                        <a href="{% url 'profile' p.pk %}">
                            <img src="{{p.profile_image_url}}" alt="{{p.profile_image_url}}">
                        </a>
                        <p>{{p.first_name}} {{p.last_name}}</p>
                        {% endif %}
                    </td> 
                    {% if forloop.last or forloop.counter0|add:1|divisibleby:3 %}
                    </tr> 
                    {% endif %}
        {% endfor %}
        
    </table>
</div>

{% endblock %}