<!--templates/mini_fb/show_all_profiles.html-->
<!--Author: Kelley Han (kelhan@bu.edu) 2/18/25-->
<!--HTML template file for showing all profiles-->
{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>Showing All Profiles</h2>
<table>
    {% for p in profiles %}
            {% if forloop.first or forloop.counter0|divisibleby:3 %}
            <tr>
                {% endif %}
                <td>
                    {% if p.profile_image_url %}
                    <a href="{% url 'profile' p.pk %}">
                        <img src="{{p.profile_image_url}}" alt="{{p.profile_image_url}}">
                    </a>
                    {% endif %}
                    <h3>{{p.first_name}} {{p.last_name}}</h3>
                    <p>Lives in: {{p.city}}</p> <br><br>
                </td> 
                {% if forloop.last or forloop.counter0|add:1|divisibleby:3 %}
                </tr> 
                {% endif %}
    {% endfor %}
    
</table>

{% endblock %}