/* File: restaurant.css */
/* Author: Kelley Han (kelhan@bu.edu), 2/11/2025 */
/* Description: static CSS file that is linked in base.html for the restaurant app */

ul {
    list-style-type: none;   
    padding: 10px;
    margin: 0;
}
body {
    background-color: palegoldenrod;
    margin-left: 30px;
}

a, a:visited {
    display: block;
    padding: 10px 15px; 
    color: black;
    text-decoration: none;
    font-size: 25px;
    
}

li {
    list-style-type: none;
    display: inline-block; 
    margin-right: 10px; 
  
}

.table-container {
    display: inline-block; 
    vertical-align: top;
    margin-right: 20px;
}

h1 {
    text-align: center;
}

.receipt {
    width: 50%; 
    margin:auto; 
}