<!--quotes/templates/quotes/about.html-->
{% extends 'quotes/base.html' %}

{% block content %}
<h1>About Ocean Vuong</h1>

<p>Ocean Vuong is a Vietnamese American poet and novelist. 
    He is most known for his debut novel, "On Earth We're Briefly Gorgeous", published in 2019. He often writes about his relationship with his mother,
    her death, being Vietnamese American, and being gay. He is the recipient of the 2014 
    Ruth Lilly/Sargent Rosenberg Fellowship from the Poetry Foundation, 
    2016 Whiting Award, and the 2017 T. S. Eliot Prize. He was born in 1988 in Ho Chi Minh City, 
    formally known as Saigon, before moving to Hartford, CT, when he was two years old. Vuong currently resides in Northampton, MA with his partner.  </p>

<a href="https://en.wikipedia.org/wiki/Ocean_Vuong" class="button">Wikipedia</a> <br>
<a href="https://www.goodreads.com/book/show/41880609-on-earth-we-re-briefly-gorgeous" class="button">Goodreads: On Earth We're Briefly Gorgeous</a> <br>
<a href="https://www.goodreads.com/author/show/4456871.Ocean_Vuong" class="button">Goodreads Profile</a> <br>
<a href="https://www.oceanvuong.com" class="button">Personal Website</a> <br>
<a href="https://www.instagram.com/ocean_vuong/" class="button">Instagram</a> <br>

{% endblock %}